<!DOCTYPE html>
<html lang="en">
  <head>
   <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
     </head>
     <body>

      <h1>GROCERY TIME!!!</h1>

         <ul>
          <a href =<%= "/groceries" %>>
          <%="Check your list"%> </a>

        </ul>
    </body>
